[Unit]
Description=SprintFlow email worker (SQS direct poller)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/SprintFlow/backend
ExecStart=/home/ubuntu/SprintFlow/venv/bin/python -m app.worker
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=sprintflow-celery
Environment=AWS_REGION=ap-south-1

[Install]
WantedBy=multi-user.target
